/* CSS general */
/* .mi-iframe {
    width: 640;
    height: 480;
  } */
  
  /* CSS pantallas de 320px o superior */
  @media (max-width: 320px) {
  
    .mi-iframe {
      width: 100px;
      height: 150px;
    } 
  
  }
  
  /* CSS pantalla 768px o superior */
  @media (max-width: 768px) {
  
    .mi-iframe {
      width: 500px;
      height: 350px;
    } 
  
  }